= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :product_id
    = f.number_field :product_id
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :code_nr
    = f.text_field :code_nr
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
