%h1 Listing products

%table.table.table-striped
  %thead
    %tr
      %th Lp
      %th ID
      %th Active
      %th Name
      %th CATEGORIES
      %th PRICE
      %th PRICE discount
      %th QUANTITY
      %th MINIMAL QUANT.
      %th SHORT DESC
      %th DESCRIPTION
      %th AVAIL FOR ORDERS
      %th SHOW PRICE (1/0)
      %th IMAGE URLs (x,y,z...)

  / %tbody
  /   - @products.each do |product|
  /     %tr
  /       %td= product.product_id
  /       %td= product.url
  /       %td= product.code_nr
  /       %td= product.name
  /       %td= link_to 'Show', product
  /       %td= link_to 'Edit', edit_product_path(product)
  /       %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
  %tbody
    - @doc.css('o').each do |product|
      %tr
        %td= @x+=1
        %td= product[:id]
        %td
          0
        %td= product.css('name').text
        %td= product.css('cat').text
        %td= product[:price]
        %td= ((product[:price].to_f * @discount)/100).round(-1)
        %td= product[:stock]
        %td
          1
        %td= product.css('desc').text.first(160)
        %td= product.css('desc').text
        %td
          1
        %td
          1
        %td= product.css('imgs').css('main', 'i').map { |x| x[:url] }
        / %td= product.css('a').last.text.strip
%br
